<title>My Tiny App</title>
<% if (userName) { %>
<form method="POST" action="/logout">
<p>Your userName is:  <%= userName %></p>
<input type="submit" value="Logout Dog">
<% } %>
<% if (!userName) { %>
<form method="POST" action="/login">
<label for="userName">Provide a Sweet Username</label>
<input id="userName" type="text" name="userName" placeholder="userID">
<input type="submit" value="Submit"> 
<% } %>
</form>
