<title>My Tiny App</title>
<form method="POST" action="/logout">
<input type="submit" value="Logout Dog">
</form>

<a href="/register">Time to register yo!</a>
<a href="/login">You need to login son.</a>