<title>My Tiny App</title>
<p>Your username is:  <%= userName %></p>
<form method="POST" action="/login">
<label for="userName">Provide a Sweet Username</label>
<input id="userName" type="text" name="userName" placeholder="userID">
<button>Submit</button>
<input type="submit" value="Submit">
</form>
