<title>My Tiny App</title>

<a href="/register">Register Here</a>

<body>

  <form method="POST" action="/login">
  <label for="email">Enter you email: </label>
  <input id="email" type="email" name="email" placeholder="doug@example.com">
  <label for="password">What is your password?</label>
  <input id="password" type="password" name="password" placeholder="Feed me Seymor">
  <input type="submit" value="Submit">
  </form>

</body>