<!DOCTYPE html>

<html lang='en'>
  <head>
    <title>TinyApp</title>
  </head>

  <header>
  <% include partials/_header %>
  </header>

  <body>
    <ul>
    <% for(var url in urls) { %>
      <li><%= urls[url] + ":    " + url %>
      <form method="POST" action="/urls/<%= url %>/delete"><button>Delete URL</button></form>
      </li>
    <% } %>
    </ul>
    <a "/url/">Create a New Shortened URL</a>
    </li>
    </ul>
  </body>
  </html>
