<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <header>
  <% include partials/_header %>
  </header>
  
  <body>
    <h1>ShortURL: <%= shortURL %></h1>
    <form method="POST" action="/urls/<%= shortURL %>/update">
    <label for="createNewLongUrl">Enter URL without http: </label> 
    
    <input id="createNewLongUrl" type="text" name="createLongURL" placeholder=<%= longURL.url %>>
    <button>Good Vibes</button>
    </form>
    </body>
  </html>
