<!DOCTYPE html>

<html lang='en'>
  <head>
    <title>TinyApp</title>
  </head>

  <header>
  <% include partials/_header %>
  </header>

  <body>
    <ul>
    <% for(var url in urls) { %>
      <li>
      <form method="POST" action="/urls/<%= url %>/delete">
      <%= urls[url].url + ":    " + url %>
      <a href="/urls/<%= url %>">edit</a>
      <button>Delete URL</button></form>
      </li>
    <% } %>
    </ul>
    <a href="/urls/new">Create a New Shortened URL</a>
    </li>
    </ul>
  </body>
  </html>
