<title>My Tiny App</title>

<body>

<header><% include partials/_header %></header>
<form method="POST" action="/login">
<label for="email">Provide a Sweet Username</label>
<input id="email" type="text" name="email" placeholder="let's have it">
<label for="password">What yo Password?</label>
<input id="password" type="text" name="password" placeholder="feed me Seymor">
<input type="submit" value="Submit"> 
</form>

</body>