<!DOCTYPE html>

<html lang='en'>
  <head>
    <title>TinyApp</title>
  </head>

  <header>
  <% include partials/_header %>
  </header>
  <body>
    
  <ul>
      <% for(var urls in userUrls) { %>
      <li>
      <%= userUrls[urls].url %>
     
      <form method="POST" action="/urls/<%= urls %>/delete">
      <button>Delete URL</button></form>
      
      <a href="/userUrls/<%= urls %>">edit</a>
      
      </li>
     <% } %>
    </ul>

    <a href="/urls/new">Create a New Shortened URL</a>

    </li>
    </ul>
  </body>
  </html>
