<title>My Tiny App</title>
<a href="/register">Register Here</a>
<body>

<form method="POST" action="/login">
<label for="email">Provide a Sweet Username</label>
<input id="email" type="email" name="email" placeholder="let's have it">
<label for="password">What yo Password?</label>
<input id="password" type="password" name="password" placeholder="feed me Seymor">
<input type="submit" value="Submit"> 
</form>

</body>