<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <header>
  <% include partials/_header %>
  </header>
  
  <body>
    <h1>ShortURL: <%= shortURL %></h1>
    <form action="/urls/"<%= shortURL %>/update" method="POST">
    <label for="longURL">Enter New URL Por Favor:</label> 
    
    <input id="longURL" type="text" name="longURL" placeholder="http://">
    <button>Good Vibes</button>
    </form>
    </body>
  </html>
