<!DOCTYPE html>

<html lang="en">

  <head></head>

  <header>
    <% include partials/_header %>
  </header>

  <body style="font-size:20px; padding:50px;">

    <h1>Register here, all the cool kids are doing it!</h1>

    <form action="/register" method="POST" sytle="margin:150px">
    <label for="email">Enter Your Email:</label>
    <input id="email" type="text" name="email" placeholder="bill@example.com">
    <label for="password">Create a Password: </label>
    <input id="password" type="text" name="password" placeholder="don't use monkey123">
    <button>Submit to Freedom</button>
    </form>

  </body>